<header class="flex justify-between items-center pt-[30px] w-[960px]">
  <a href="https://www.linkedin.com/in/victor-t-martinez-2179ba322/" target="_blank" rel="noopener">
    <img 
        class="rounded-full w-[70px] h-[70px] ml-[220px] object-cover transition-transform duration-200 ease-in-out hover:scale-110"
        src="https://media.licdn.com/dms/image/v2/D4E03AQGZpQyaeubeLg/profile-displayphoto-shrink_200_200/B4EZaHgQSuHEAc-/0/1746030102106?e=2147483647&v=beta&t=r8NDWY94ANxBCYKOIrJUT_NCGTJqwYu57FYfEnXwEZY" 
        alt="victor foto"

    
    />

    <nav class="flex gap-x-[50px] opacity-80">
  <a href="/"      class="text-white no-underline transition-transform duration-200 ease-in-out hover:scale-110">Home</a>
  <a href="#experience" class="text-white no-underline transition-transform duration-200 ease-in-out hover:scale-110">Experience</a>
  <a href="#projects" class="text-white no-underline transition-transform duration-200 ease-in-out hover:scale-110">Projects</a>
  <a href="#contact"  class="text-white no-underline transition-transform duration-200 ease-in-out hover:scale-110">Contact</a>
</nav>
</header>